.Hobbies {
  padding: 20px;
  text-align: center;
}

.hobbies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 60%;
  margin: auto;
}

.hobby-card {
  background-color: #aac7f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hobby-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.circle-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.hobby-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hobby-title {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
