footer {
  background-color: #aac7f2;
  color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.bi {
  font-size: 20px;
  margin: 5px;
  color: black;
}
